#comment{
    float: left;
    padding:10px;
}
#nav{
    text-align: center;
    float: left;
}
a:link{
    text-decoration:none;
}
html{
    min-height: 100%;
}
table{
    border: 1px solid black;
    width:100%;
}
textarea{
    resize: none;
}